server {
    listen 8081;

    # use for kubelet readinessProbe
    # https://istio.io/help/faq/security/#k8s-health-checks
    location /healthy {
        default_type text/plain;
        return 200 'ok';
    }
}

server {
    listen 8080;

    {{ if var "DEBUG" }}
    {{ else }}
    # redirect http to https
    if ($http_x_forwarded_proto = "http") {
        rewrite  ^/(.*)$  https://$host/$1 redirect;
    }
    {{ end }}

    # For nginx-prometheus-exporter
    # https://github.com/nginxinc/nginx-prometheus-exporter
    location /stub_status {
        stub_status on;
        access_log off;
        {{ if var "DEBUG" }}
        {{ else }}
        # Allow access from same pod
        allow 127.0.0.1;
        deny all;
        {{ end }}
    }

    # for availability monitoring
    location /healthy {
        default_type text/plain;
        return 200 'ok';
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    error_page   404              /404.html;
    error_page   500 502 503 504  /50x.html;

    location = /(404|50x).html {
        root   /usr/share/nginx/html;
    }
}
