server {
    listen       8080;

    # redirect http to https
    if ($http_x_forwarded_proto = "http") {
        rewrite  ^/(.*)$  https://$host/$1 redirect;
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    error_page   404              /404.html;
    error_page   500 502 503 504  /50x.html;

    location = /(404|50x).html {
        root   /usr/share/nginx/html;
    }
}
